body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: outset;
    border-color: red;
    border-width: 2px;
    background-color:yellow;
    border-top-style: double;
    border-width: 25px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align-last: center;


}

p{
        margin-bottom: 35px;
        font-family:Georgia, 'Times New Roman', Times, serif
        
    }

    input{
        margin-bottom: 15px;
        color: black;
        text-align-last: center;
    }

    input{
        color: black;
    }

